.Welcome-Background {
    position: 100%;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}
body {
    margin: 0;
    padding: 0;
}

.Welcome-BlueBar {
    position: absolute;
    left: 10%;
    width: 80%; 
    max-width: 1000%; 
    height: auto;
    top: 35%;
    max-height: 30%;
    border-radius: 15px; 
    font-family: 'Montserrat', sans-serif;
}

.Title{
    position: absolute;
    left: 13%;
    width: 80%; 
    max-width: 100%; 
    height: auto;
    top: 30%;
    font-size: 3.2vw;
    font-style: italic;
    max-height: 30%;
    border-radius: 15px; 
    font-family: 'Montserrat', sans-serif;
}

.Welcome-Slogan {
    position: absolute;
    left: 46%;
    top: 45%;
    font-family: 'Montserrat', sans-serif;
    color: lightgrey;
    font-size: 1.5vw;
    font-style: italic;
    white-space: nowrap;
}

.Welcome-FitLogo {
    position: absolute;
    top: 30%; 
    left: 10%; 
    width: 19%; 
    height: auto;
}

.SmallBar {
    position: absolute;
    left: -50%;
    top: 85%;
    font-family: 'Montserrat', sans-serif;
    z-index: 2;
}

.Welcome-Search {
    position: absolute;
    left: 40%;
    top: 50%;
    font-family: 'Montserrat', sans-serif;
    width: 3.5%;
    height: auto;
    z-index: 1;
}

.SearchLocation {
    position: absolute;
    left: 10%;
    top: 85%;
    font-family: 'Montserrat', sans-serif;
    width: 17%;
    height: auto;
    z-index: 3;
}

.SearchBar {
    background: transparent;
    border: none;
    border-radius: 1vw;
    outline: none;
    color: white; 
    font-size: 1.3vw; 
    width: 100%;
    height: auto;
}

.SearchLabel {
    color: white; 
    font-size: 0.8vw; 
    margin-right: 100%;
}

.Bar {
    position: absolute;
    left: 46%;
    top: 52.5%;

}
